<div class="timeline pl-5 pr-3 py-4">
    <div class="block">
        <div class="heading">
            About
        </div>
        <p class="text-justify">
            I am JOHN ZWANDOR ILIYA an indigene of plateau state, Nigeria. I reflect a varied set of personalities which 
            include ambition, generosity and thoughtfulness. I am also a well determined and vigorous individual, 
            yet pleasantly calm. I encourage fighting for what I desire and believe in, and doing it through God 
            because nothing great comes easy and with God everything is possible.
        </p>
    </div>
    <div class="block">
        <div class="heading">
            CAREER OBJECTIVE
        </div>
        <p class="text-justify">
            To work with heart and might, discipline and honesty towards attainment of personal and professional 
            excellence as well as to leave a footprint on the sands of time in any organization.
        </p>
    </div>
    <div class="block">
        <div class="heading">
            Education
        </div>
        <div class="subHeading">
            [March 6, 2016]
        </div>
        <p>[A course of study offered by Microsoft, an online learning Initiative of Microsoft Corporation through edx]</p>
        <p>DAT201x : Querying With Transact-SQL</p>
        <div class="subHeading">
            [2011] - [2015]
        </div>
        <p>[Bachelor Of Science (Education) Computer Science Second Class Honours]</p>
        <p>University Of Jos,PLATEAU-STATE Nigeria</p>
        <div class="subHeading">
            [2004] - [2010]
        </div>
        <p>
            [West African Examinations Council (WAEC) National Examinations Council (NECO)]
        </p>
        <p>Nigerian Military School Zaria,KADUNA-STATE Nigeria</p>
        <div class="subHeading">
            [1998] - [2004]
        </div>
        <p>[First School Leaving Certificate]</p>
        <p>
            Command Children School JAJI-CANTOMENT,KADUNA-STATE Nigeria
        </p>
    </div>
    <div class="block">
        <div class="heading">
            WORK EXPERIENCE
        </div>
        <div class="subHeading">
            [2010 - Date]
        </div>
        <p> Nigerian Army </p>
    </div>
    <div class="block">
        <div class="heading">
            skills
        </div>
        <div class="skillBar">
            <div class="row">
                <div class="col-md-3">
                    <div class="circularProgress" data-progress="90%">
                        <div class="icon"><i class="devicons devicons-html5"></i></div>
                    </div>
                    <div class="skill">HTML</div>
                </div>
                <div class="col-md-3">
                    <div class="circularProgress" data-progress="85%">
                        <div class="icon">
                            <i class="devicons devicons-css3"></i>
                        </div>
                    </div>
                    <div class="skill">CSS3</div>
                </div>
                <div class="col-md-3">
                    <div class="circularProgress" data-progress="70%">
                        <div class="icon"><i class="devicons devicons-jquery"></i></div>
                    </div>
                    <div class="skill">jquery</div>
                </div>
                <div class="col-md-3">
                    <div class="circularProgress" data-progress="75%">
                        <div class="icon"><i class="devicons devicons-angular"></i></div>
                    </div>
                    <div class="skill">Angular</div>
                </div>
                <div class="col-md-3">
                    <div class="circularProgress" data-progress="85%">
                        <div class="icon"><i class="devicons devicons-database"></i></div>
                    </div>
                    <div class="skill">Database</div>
                </div>
                <div class="col-md-3">
                    <div class="circularProgress" data-progress="70%">
                        <div class="icon"><i class="devicons devicons-bootstrap"></i></div>
                    </div>
                    <div class="skill">BootStrap</div>
                </div>
                <div class="col-md-3">
                    <div class="circularProgress" data-progress="70%">
                        <div class="icon"><i class="devicons devicons-dotnet"></i></div>
                    </div>
                    <div class="skill">C#</div>
                </div>
                <div class="col-md-3">
                    <div class="circularProgress" data-progress="50%">
                        <div class="icon"><i class="devicons devicons-javascript_badge"></i></div>
                    </div>
                    <div class="skill">javascript</div>
                </div>
            </div>
        </div>
    </div>
    <div class="block">
        <div class="heading">
            Languages
        </div>
        <ul class="noBullets">
            <li>English</li>
            <li>Hausa</li>
            <li>Tarok</li>
            <li>Ukwani</li>
        </ul>
    </div>
</div>
<div class="container-fluid">
    <div class="row bg-danger">
        <div class="col-md-12">
            <div class="d-flex justify-content-center align-items-center">
                <span class="p-3 text-white">Powered By: JINGBEEDS (c) <i> 2017 - {{ today | date : "yyyy" }} </i> </span>
            </div>
        </div>
    </div>
</div>
